.App {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  align-items: center;
  background-color: #00203FFF;
}

.container-fluid {
  padding: 0 !important;


}

.themed-container {
  height: 100vh;
}

.App p {
  color: white;

}

.App hr {
  margin-top: 0;
}

.App h1 {
  color: #0073E6;
  font-weight: 100;
}

.header h1 {
  color: white;
  font-weight: 500;
}

.container-fluid {
  background-color: #00203FFF;
  margin: 0;
}

.lead {
  margin-bottom: 0;
}


.App img {
  height: 40vmin;
  border-radius: 50%;
}